<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meltdown backend</title>
		<link rel="stylesheet" href="/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="index_backend.js"></script>
	</head>

	<body ng-app="meltdownAdmin" ng-controller="AdminCtrl as vm">
		<form id="join">
			<label for="username">Adepte:</label>
			<input type="text" name="username" placeholder="Ton ostie de pseudo" id="username" required ng-model="vm.username" />
			<button id="join_button" type="submit" ng-click="vm.join()">Join</button>
		</form>
		<div class="button_container_admin">
			<button class="secondary_background" id="load_fixtures" type="button" ng-click="vm.loadFixtures()">Load users</button>
			<button class="secondary_background" id="clear_tables" type="button" ng-click="vm.clearTables()">Clear tables</button>
			<button class="secondary_background" id="generate_tables" type="button" ng-click="vm.generateTables()">Distribute Tables</button>
			<button class="secondary_background" id="reshuffle_tables" type="button" ng-click="vm.reshuffleTables()">Reshuffle Tables</button>
			<button class="secondary_background" id="notify_all" type="button" ng-click="vm.notifyAll()">Notify all</button>
		</div>
		<div id="tables" ng-repeat="(tableName, users) in vm.tables">
			<div class="table_ready_status">
				<span>{{tableName}} ({{vm.readyCount(users)}} / {{users.length}} players)</span>
				<button ng-click="vm.tableReady(tableName)">Ready</button>
				<button ng-click="vm.tableNotReady(tableName)">Not Ready</button>
				<button ng-click="vm.tableDelete(tableName)">Delete</button>
			</div>
			<table class="tables">
				<thead>
					<tr>
						<th>Username</th>
						<th>IP</th>
						<th>Last Activity</th>
						<th>Team</th>
						<th>Tarot</th>
						<th>Two tables</th>
						<th>Ready</th>
						<th>Fini</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td ng-style="{'color': user.ready ? '#006400' : '#FF8C00'}">{{user.name}}</td>
						<td>{{user.ip ? 'connected' : 'added by admin'}}</td>
						<td>{{user.lastActiveAt | date:'short'}}</td>
						<td><span ng-repeat="team in user.teams" ng-style="{ color: team }" style="margin-right:3px">{{team}}</span></td>
						<td ng-if="!user.canPlayTarot" ng-click="vm.toggleCanPlayTarot(user.name)">❌</td>
						<td ng-if="user.canPlayTarot" ng-click="vm.toggleCanPlayTarot(user.name)">✅</td>
						<td ng-if="!user.canPlayTwoTables" ng-click="vm.toggleCanPlayTwoTables(user.name)">❌</td>
						<td ng-if="user.canPlayTwoTables" ng-click="vm.toggleCanPlayTwoTables(user.name)">✅</td>
						<td ng-if="!user.ready" ng-click="vm.userReady(user.name)">❌</td>
						<td ng-if="user.ready" ng-click="vm.userNotReady(user.name)">✅</td>
						<td ng-click="vm.userFinish(user.name)">🏁</td>
						<td ng-click="vm.userDelete(user.name)">🚮</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="messages">{{vm.messages}}</div>
		<a href="/public/tables">Dump tables</a>
		<br />
		<a href="/admin/users">Dump users</a>
		<br />
		<a href="/">Frontend</a>
		<br />
	</body>
</html>
